.THIS {
    margin-top: 15px;
}
.THIS .hideDiv {
    display: none;
}
.THIS .searchButton{
  	color:white;
    float:right;
  	background: #2F76FB;
}
.THIS .shipment-types {
    margin-bottom: 10px;
    width: 156px;
    background: #fff;
    padding: 5px;
    float: left;
    margin-top: 12px;
    border-radius: 3px;
}

.THIS .shipment-types .slds-button {
    height: unset;
    min-height: unset;
    display: block;
    border-radius: 3px !important;
    width: 50%;
}

.THIS .shipment-types .slds-button-group {
    width: 100%;
}

.THIS .shipment-types .slds-button_brand {
    background: #2F76FB;
}

.THIS .slds-button_icon-bare {
    display: block; 
}
.THIS .slds-form-element__label {
    font-size: 16px;
    color: #333336;
    font-weight: 450;
}
.THIS .readyDate{
    width:60%;
}
.THIS .readyDate .slds-form-element__label{
     height: 35px;
}
.THIS .readyDate .slds-form-element .slds-input{
    min-height: unset;
    height: 42px;
    display: block;
    border-radius: 3px !important;
}
.THIS .scheduleVessel{   
    border:ridge;
}