<template>
    <table class="slds-table slds-table_cell-buffer slds-table_bordered ">
        <thead>
            <tr class="slds-line-height_reset">
                <template for:each={columns} for:item="column">
                    <th key={column.label}>
                        <div class="slds-truncate" title={column.label} onclick={onColumnSort}>{column.label}</div>
                    </th>
                </template>
            </tr>
        </thead>
        <tbody>
            <template for:each={data} for:item="rowData">
                <tr key={rowData} class="slds-hint-parent">
                    <template for:each={rowData} for:item="rowItem">
                        <td key={key} data-label={rowItem.value}>
                            <c-custom-data-table-data-element row-item={rowItem}>
                            </c-custom-data-table-data-element>
                        </td>
                    </template>
                </tr>
            </template>
        </tbody>
    </table>
</template>