.THIS .slds-required {
    display: none;
}
.THIS .button-disable{
    background-color: gray !Important;
    border: none !Important;
}
.THIS .rates {
    background-color: #016799; 
}
.THIS .slds-textarea {
    height:200px !important;
}
.THIS .blue svg{
    fill: #092c77;
}